/* Font size 12px to all tags of class .info
Text color #00FF00 to all tags of class .success and extend style of the class .info
Text color #FF0000 to all tags of class .warning and extend style of the class .info */

.info, .success, .warning {
    font-size: 12px;
  
  &.success in .info {
    color: #00FF00; }
  
  &.warning in .info {
    color: #FF0000; }
}
